.dsct-card-car {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    width: 280px;
    border: 1px solid(--dsct-color-bg-tertiary);
}

@media(min-width: 720px) {
    .dsct-card-car {
        border: 1px solid var(--dsct-color-bg-tertiary);
        border-radius: 10px;
        padding: 20px 173px 0px 172px;
        width: 746px;
    }
}

.dsct-card-car img {
    width: 260px;
}

@media(min-width: 720px) {
    .dsct-card-car img {
        width: 391px;
    }
}

.dsct-card-car p {
    color: var(--dsct-color-font-primary);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

@media(min-width: 720px) {
    .dsct-card-car p {
        color: var(--dsct-color-font-primary);
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }
}