header {
    padding: 0 20px;
    background-color: var(--dsct-color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1 {
    padding: 0 20px;
    color: var(--dsct-color-font-primary);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}