header {
    padding: 0 20px;
    background-color: var(--dsct-color-bg-tertiary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--dsct-color-font-tertiary);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

@media(min-width: 720px) {
    header h1 {
        font-size: 24px;
    }
}