@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --dsct-color-bg-primary: #FFFFFF;
    --dsct-color-bg-secondary: #C8C8C8;
    --dsct-color-bg-tertiary: #3C9AF0;

    --dsct-color-font-primary: #5E5E5E;
    --dsct-color-font-secondary: #3C9AF0;
    --dsct-color-font-tertiary: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html,
body {
    background-color: var(--dsct-color-bg-primary);
}

a,
a:hover {
    text-decoration: none;
}

.dsct-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}